body {
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#mapdiv {
    padding: 10px;
    height: 100%;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}