html, body, #map {
    margin: 0;
    padding: 0;
}

.map {
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

input[type=range] {
    width: 100%;
}

.stations, .stations svg {
    position: absolute;
}

.stations svg {
    width:40px;
    height:40px;
    padding-right: 120px;
    font: 12px sans-serif;
}

.stations circle {
    fill: blue;
    stroke: black;
    stroke-width: 1px;
}

.stations circle:hover {
    fill: red;
    cursor: pointer;
}

.stations rect {
    fill: green;
    stroke: black;
    stroke-width: 1px;
}

.stations rect:hover {
    fill: red;
    cursor: pointer;
}